/* CSS HEX */
:root {
    --xiketic: #120309ff;
    --dark-sienna: #2e0f15ff;
    --tangerine: #f58a07ff;
    --pewter-blue: #95b2b8ff;
    --amazon: #307351ff;
}

.active {
    color: crimson;
    font-weight: bold;
    text-decoration: underline;
}

/* body {
    background-color: var(--pewter-blue);
} */